<div class="row mb-5">
    <h2>Your Dashboard</h2>
    {{#if user}}
    {{#each user.posts as |post| }}
    <div class="col s12 m10 offset-m1">
        <div class="post" data-post-id="{{post.id}}">
            <h2>{{post.title}}</h2>
            <h5>Created on {{post.date}}</h5>
            <p>{{post.body}}</p>
            <div class="form-container">
                <a href="/editPost" id="editPost">Edit</a>
                <button class="btn btn-primary" id="delete-btn" type="submit">Delete</button>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
    <a href="/newPost" id="create_post">Create New Post</a>
</div>
<script src="/js/delete.js"></script>
