<div class="row mb-5 post-column">
  <form class="form editPost-form">
    <h2>Edit Post</h2>
        <div class="form-group" data-post-id="{{post.id}}">
          <input class="form-input" type="text" id="title-text" placeholder="{{post.title}}">          
          <input class="form-input" type="text" id="content-text" placeholder="{{post.body}}">
        </div>
        <div class="form-container">
          <button class="btn btn-primary" id="editPost-btn" type="submit">Enter</button>
        </div>
    </form>
</div>
<script src="/js/editPost.js"></script>

