{{#each users as |user| }}
<div class="row mb-5">
  <div class="col s12 m10 offset-m1">
    {{#each user.posts as |post| }}
    <div class="post">
      <h2>{{post.title}}</h2>
      <h5>Created by {{user.username}} on {{post.date}}</h5>
      <p>{{post.body}}</p>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}



