<div class="row mb-5">
  <form class="form newPost-form">
    <h2>New Post</h2>
        <div class="form-group">
          <input class="form-input" type="text" id="title-text" placeholder="title">          
          <input class="form-input" type="text" id="content-text" placeholder="content">
        </div>
        <div class="form-container">
          <button class="btn btn-primary" id="newPost-btn" type="submit">Enter</button>
        </div>
    </form>
</div>
<script src="/js/newPost.js"></script>
