nav {
    background-color: black;
}

.nav-wrapper a.brand-logo {
    color: #39ff14;
}

.nav-wrapper ul li a {
    color: #39ff14;
}

body {
    background: linear-gradient(to bottom, #1d1d1d, #d3d3d3, #000);
    color: #39ff14;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.row {
    display: flex;
    justify-content: center; /* Center content horizontally */
  }
  
  .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content within the column */
  }
  
  .post-column {
    width: 100%; /* Ensure posts take up the full width of the column */
    margin-bottom: 20px; /* Add some space between posts */
  }
  
  h2, h5, p {
    text-align: center; /* Center text within each post */
  }
  
  /* Optional: Add some styling for better visual separation */
  .post, .login-form, .signup-form, .editPost-form, .newPost-form {
    width: 80%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
  }
  

#uLabel, #pLabel, #sLabel, #comment, #comment-text, 
#title-text, #content-text, #create_post, #editPost {
    color: #39ff14;
    font-family: 'Roboto', sans-serif;
}

#login-btn, #signup-btn, #comment-btn, #newPost-btn, 
#delete-btn, #editPost-btn {
    background-color: black;
    color: #39ff14;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.form-container .btn {
    margin-right: 20px;
}

 